<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Instructions</h1>
    <p>
      You have successfully signed up to example.com,
      your username is: <%= @user.email %>.<br/>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
  </html>
