Gemfile.lock
Gemfile.lock.*
.bundle/
log/*.log
pkg/
spec/rails_app/db/*.sqlite3
spec/rails_app/db/*.sqlite3-*
spec/rails_app/log/*.log
spec/rails_app/tmp/
oo_*/
tags
.DS_Store
tmp/
log/.keep

coverage/*
/.project

*.sqlite3

*.log

*.sqlite3

.ruby-version
.tool-versions

spec/gemfiles/*.lock
.byebug_history
*.gem
