Gemfile.lock
Gemfile.lock.*
.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
spec/dummy_4/db/*.sqlite3
spec/dummy_4/log/*.log
spec/dummy_4/tmp/
spec/dummy_4/.sass-cache
spec/dummy_5.0/db/*.sqlite3
spec/dummy_5.0/log/*.log
spec/dummy_5.0/tmp/
spec/dummy_5.0/.sass-cache
spec/dummy_5.1/db/*.sqlite3
spec/dummy_5.1/log/*.log
spec/dummy_5.1/tmp/
spec/dummy_5.1/.sass-cache
spec/dummy_5.2/db/*.sqlite3
spec/dummy_5.2/log/*.log
spec/dummy_5.2/tmp/
spec/dummy_5.2/.sass-cache
spec/dummy_6.0/db/*.sqlite3
spec/dummy_6.0/log/*.log
spec/dummy_6.0/tmp/
spec/dummy_6.0/.sass-cache
oo_*/
tags
.DS_Store
tmp/
log/.keep

coverage/*
/.project

*.sqlite3

*.log

*.sqlite3

.ruby-version
.tool-versions

spec/gemfiles/*.lock
