<p>Hey, you can download the xlsx for this page by clicking the link below:</p>
<p><%= link_to "XLSX", home_path("xlsx") %></p>
<p><%= link_to "Another", '/another.xlsx' %></p>
<p><%= link_to "User header", '/useheader.xlsx' %></p>
